<Settings>
  <Setting Name="SoundsVolume" Value="0.5" />
  <Setting Name="MusicVolume" Value="0.5" />
  <Setting Name="VisibilityRange" Value="128" />
  <Setting Name="ResolutionMode" Value="High" />
  <Setting Name="ViewAngleMode" Value="Normal" />
  <Setting Name="SkyRenderingMode" Value="Full" />
  <Setting Name="ObjectsShadowsEnabled" Value="True" />
  <Setting Name="Brightness" Value="0.5" />
  <Setting Name="PresentationInterval" Value="1" />
  <Setting Name="ShowGuiInScreenshots" Value="False" />
  <Setting Name="ShowLogoInScreenshots" Value="True" />
  <Setting Name="ScreenshotSize" Value="ScreenSize" />
  <Setting Name="GuiSize" Value="Smaller" />
  <Setting Name="HideMoveLookPads" Value="False" />
  <Setting Name="InvisibleModelsWorkaround" Value="False" />
  <Setting Name="BlocksTextureFileName" Value="" />
  <Setting Name="MoveControlMode" Value="Pad" />
  <Setting Name="LookControlMode" Value="EntireScreen" />
  <Setting Name="LeftHandedLayout" Value="False" />
  <Setting Name="FlipVerticalAxis" Value="False" />
  <Setting Name="MoveSensitivity" Value="0.5" />
  <Setting Name="LookSensitivity" Value="0.5" />
  <Setting Name="GamepadDeadZone" Value="0.16" />
  <Setting Name="GamepadCursorSpeed" Value="1" />
  <Setting Name="CreativeDigTime" Value="0.2" />
  <Setting Name="CreativeReach" Value="7.5" />
  <Setting Name="MinimumHoldDuration" Value="0.5" />
  <Setting Name="MinimumDragDistance" Value="10" />
  <Setting Name="AutoJump" Value="True" />
  <Setting Name="HorizontalCreativeFlight" Value="True" />
  <Setting Name="DropboxAccessToken" Value="" />
  <Setting Name="MotdUpdateUrl" Value="https://scresdir.appspot.com/motd/Motd-{0}.zip" />
  <Setting Name="MotdBackupUpdateUrl" Value="https://scresdir.appspot.com/motd/Motd-{0}.zip" />
  <Setting Name="MotdUseBackupUrl" Value="False" />
  <Setting Name="MotdUpdatePeriodHours" Value="12" />
  <Setting Name="MotdLastUpdateTime" Value="636703963426157282" />
  <Setting Name="MotdLastDownloadedData" Value="" />
  <Setting Name="UserId" Value="" />
  <Setting Name="LastLaunchedVersion" Value="2.1.14.0" />
  <Setting Name="CommunityContentMode" Value="Normal" />
  <Setting Name="MultithreadedTerrainUpdate" Value="True" />
  <Setting Name="EnableAndroidAudioTrackCaching" Value="True" />
  <Setting Name="UseReducedZRange" Value="False" />
  <Setting Name="IsolatedStorageMigrationCounter" Value="0" />
  <Setting Name="DisplayFpsCounter" Value="False" />
  <Setting Name="NewYearCelebrationLastYear" Value="2015" />
  <Setting Name="ScreenLayout1" Value="Single" />
  <Setting Name="ScreenLayout2" Value="DoubleVertical" />
  <Setting Name="ScreenLayout3" Value="TripleVertical" />
  <Setting Name="ScreenLayout4" Value="Quadruple" />
  <Setting Name="UpsideDownLayout" Value="False" />
</Settings>